In [1]:
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
%matplotlib inline

import finance_function as fin

In [14]:
#GMV Portfolio

ticker = ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'TSLA']
start_date = '2010-06-29'
end_date = '2022-06-30'
data, ret = fin.dataread(ticker, start_date, end_date)
data = data/data.iloc[0] * 100
rf_rate = 0.019

In [66]:
eff = fin.feasible_set(ret, 2000, rf_rate)

gmv_feas = fin.gmv_feasible(eff)
tgt_feas = fin.target_feasible(eff, 0.3)

In [91]:
tgt_port = fin.target_portfolio(ret, 0.3)
gmv_port = fin.gmvportfolio(ret)

gmv_opt = fin.portfolio_result(gmv_port, ret, rf_rate)
tgt_opt = fin.portfolio_result(tgt_port, ret, rf_rate)

In [92]:
gmv_compare= fin.compare_feas_opt(gmv_feas, gmv_opt)
tgt_compare= fin.compare_feas_opt(tgt_feas, tgt_opt)

In [94]:
gmv_compare

,Returns,Stds,Sharpe,Tangent,AAPL,GOOGL,MSFT,AMZN,TSLA
feas,0.256657,0.226084,1.135226,1.051186,0.249080,0.304583,0.340512,0.102053,0.003772
opt,0.254565,0.225984,1.126474,1.042397,0.246693,0.305481,0.363228,0.084598,0.000000

In [95]:
tgt_compare

,Returns,Stds,Sharpe,Tangent,AAPL,GOOGL,MSFT,AMZN,TSLA
feas,0.300004,0.238617,1.257262,1.177636,0.191919,0.215527,0.252523,0.222251,0.117779
opt,0.300000,0.236773,1.267034,1.186788,0.271592,0.142707,0.321228,0.149472,0.115002